.navbar-da {
    padding: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
    background-color: #fff!important;
}
.dropdown-menu .dropdown-item {
    text-align: right;
    color: rgb(0, 98, 179);
}
.navbar-nav .nav-link {
    color: #214faa;
    font-size: 18px;
    cursor: pointer;
}
.navbar-nav .nav-link.router:hover, .active-page {
    color: #fb513e;
    padding-bottom: 5px;
    border-bottom: 3px solid #fb513e;
}
.da-navbar-toggle {
    padding: 5px;
    border: none;
    background-color: transparent;
    font-size: 1.3em;
    display: none;
}

.navbar-alert {
    width: 100%;
    padding: 15px;
    background-color: #fc575e;
    text-align: center;
}
.alert-danger {
    background-color: #e3342f;
    color: #fff;
}

.btn-da-orange {
    color: #fff!important;
    border: 2px solid #fb513e;
    background: #fb513e 0 0 no-repeat padding-box;
    border-radius: 10px;
}
.btn-da-outline:hover {
    background-color: #023373;
    color: #fff!important;
}
.btn-da-outline {
    background-color: transparent;
    border: 2px solid #023373;
    color: #023373!important;
    border-radius: 10px;
}
.myImage {
    max-height: 40px;
    display: inline;
    border-radius: 50%;
}
.student-courses {
    padding: 20px 40px;
    /* min-width: 80px; */
    border-radius: 0;
    color:#FFFFFF !important;
    background-color:rgb(21 39 132 / 80%);
}
.da-container {
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-wrap: nowrap;
}

.auth-nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* width: 30vw; */
}
.auth-nav .nav-item button {
    max-width: 120px;
    display: inline;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}
.da-side-bar {
    position: fixed;
    width: 70%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 1001;
    text-align: start;
}

.da-side-bar a {
    font-size: 1.5em;
    text-decoration: none;
    color: #363636;
    display: block;
    margin-bottom: 20px;
}

.dropdown-menu {
    position: absolute;
}

@media(max-width: 991px) {
    .da-navbar-toggle {
        display: inline-block;
    }

    .main-nav {
        display: none;
    }

    .da-container {
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .username {
        display: none;
    }
    .student-courses  {
        padding: 15px 5px;
    }
    .navbar-brand {
        font-size: 1.1em;
    }
}

@media(max-width: 480px) {
    .auth-nav .nav-item button {
        font-size: 0.8em;
    }
}

@media (max-width: 337px) {
    * {
        padding: 0;
    }
    .navbar-brand {
        display: none;
    }
}