.management-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 50px;
    box-shadow: 0 0 50px 0 #0A2458;
    min-height: 94vh;
  }
  .management-title {
    font-size: 3em;
    margin-bottom: 4vh;
    color: #0A2458;
    text-shadow: 2px 2px 4px #000, -2px -2px 4px #fff;
  }
  
  .list-group {
    width: 60%;
    margin: 0 auto;
  }
  
  .list-group-item {
    text-align: center;
    border: 2px solid #0A2458;
    border-radius: 30px;
    margin-bottom: 20px;
    color: #0A2458;
    font-size: 2em;
  }
  
  .list-group-item:hover{
    cursor: pointer;
    background-color: #0A2458;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 0px 30px 0px #0A2458;
  }
  
  .add-section-item-btn {
    padding: 15px;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 50px;
  }
  #modalVideo {
    max-width: 100%;
    height: auto;
  }
  .edit-section-title {
    font-size: x-large;
  }



