<app-navbar></app-navbar>
<div class="container">
    <h4 class="title">اختر من الاقسام التالية:</h4>

    <div class="row justify-content-evenly">
        <div class="col-xl-3 col-md-4 col-sm-12  mb-5 section scientific" routerLink="/courses/scientific">
            <div class="section-circle"><i class="fa-solid fa-atom fa-2xl"></i></div>
            <h3>علمي</h3>
        </div>
        
        <div class="col-xl-3 col-md-4 col-sm-12  mb-5 section literary" routerLink="/courses/literary">
            <div class="section-circle"><i class="fa-solid fa-earth-asia fa-2xl"></i></div>
            <h3>أدبي</h3>
        </div>
        
        <div class="col-xl-3 col-md-4 col-sm-12  mb-5 section common-subjects" routerLink="/courses/common-subjects">
            <div class="section-circle"><i class="fa-solid fa-book-open fa-2xl"></i></div>
            <h3>المواد المشتركة</h3>
        </div>
    </div>
</div>